@charset "UTF-8";

/* FONTS */

@font-face {
	font-family: "QuentinHW";
	src: url("fonts/Quentin's Handwriting.ttf") format('truetype'),
	      url("fonts/Quentin's Handwriting.eot") format('eot');
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;		/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;		/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;		/* prevent copy paste, to allow, change 'none' to 'text' */
	
	margin: 0;
	padding: 0;
	background: linear-gradient(#72ccd7, #a1dad8);
	background-size: auto 100vh;
	background-position: top center;
	background-repeat: no-repeat;
	overflow: hidden;
}

#loading-screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: darkcyan;
}

#loading-screen p {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 90vh;
	color: white;
	font-family: "QuentinHW", "Arial";
	font-size: 200%;
}

#image-background {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../img/game/set/game_background.png");
	background-size: auto 100vh;
	background-position: top center;
	background-repeat: no-repeat;
	z-index: -1000;
}

#frame-for-images-to-preload { position: absolute; width: 0px; height: 0px; overflow: hidden; }
#electric-cable { position: absolute; z-index: -2; }
#electricity { position: absolute; z-index: -1; background-size: contain; }
#gerard { position: absolute; background-size: contain; }
#gerard-eyes { position: absolute; background-size: contain; }

#gerard.sheltered:before {
	content: " ";
	display: inline-block;
	position: absolute;
	bottom: 3px;
	width: 33px; /* 47-7-7 for border; */
	height: 33px;
	border: 7px solid #12c912;
	z-index: -1;
	opacity: 0.5;
	border-radius: 50%;
}

#clouds { width: 100vw; height: 100vh; z-index: -3; }
#angels { width: 100vw; height: 100vh; position: absolute; top: 0px; left: 0px; }
#stakes { position: absolute; bottom: 0px; height: 35px; margin: 0; padding: 0; overflow: hidden; }
	.single-stake { position: absolute; top: 0px; height: 35px; margin: 0; padding: 0; background-image: url("../img/game/set/stake.png"); background-size: contain; }
#pole-1, #pole-2 { position: absolute; bottom: 0px; }
#pole-1-top, #pole-1-middle, #pole-1-bottom, #pole-2-top, #pole-2-middle, #pole-2-bottom { position: absolute; left: 0px; background-repeat: no-repeat; background-size: contain; }

#concrete {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	border-top: 1px solid black;
	background-color: darkgrey;
}

#lives {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 30px;
	color: red;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

#lives .heart {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url("../img/game/obstacles/heart.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 2px;
}

#coins {
	position: absolute;
	top: 12px;
	font-family: "QuentinHW", "Arial";
	font-size: 20px;
	line-height: 20px;
	color: white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

#coins .coin {
	display: inline-block;
	width: 27px;
	height: 27px;
	background-image: url("../img/game/obstacles/coin.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 2px;
}

#coins .coin + span {
	position: relative;
	top: -8.5px;
	left: 3px;
}

#score {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: "QuentinHW", "Arial";
	font-size: 25px;
	line-height: 25px;
	color: white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

#save-me-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	display: none;
}

#save-me {
	position: absolute;
	width: 70vw;
	background: linear-gradient(#e8a40e, #f4bb3d);
	border: 3px solid black;
	border-radius: 3vw;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	font-family: "QuentinHW";
	cursor: pointer;
}

#save-me > p,
#save-me #gems-needed {
	text-align: center;
	font-size: 25px;
	margin: 0;
}

#save-me #nb-of-gems {
	font-size: 25px;
	line-height: 25px;
}

#save-me #gem-img {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 4px;
	background-image: url('../img/game/obstacles/gem.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	bottom: -5px;
}

#save-me #progress-bar {
	width: 90%;
	height: 10px;
	margin: 5px auto 5px auto;
	border: 1px solid black;
	border-radius: 5px;
}

#save-me #progress {
	width: 100%; /* Progress of the bar. */
	height: 100%;
	background: linear-gradient(90deg, #28a828, #40c340);
	border-radius: 5px;
}

